#data setting
data:
  data_dir: './data_rl/rfam_learn/train'
  val_dir: './data_rl/rfam_learn/validation'
  test_dir: './data_rl/rfam_learn/test'
  max_structures: 1000  # null pe sab load hote

# network archi, match the BC pretraining phase
network:
  in_dim: 8
  hidden_dim: 32
  embed_dim: 32
  edge_dim: 4
  num_gnn_layers: 5
  actor_hidden: 16
  critic_hidden: 16
  num_bases: 4
  dropout: 0.25

# training settings
training:
  num_epochs: 2
  steps_per_epoch: 2000
  max_ep_len: 100
  
  # pretrained weights
  pretrained: './checkpoints/bc/best_model.pt'
  freeze_backbone_epochs: 15  # freeze backbone for da first x epochs
  freeze_actors_epochs: 0    #dont freeze actors
  
  # learningn rate
  lr_actor: 0.0001
  lr_critic: 0.001
  lr_backbone: 0.0001

# PPO hyperparams
ppo:
  gamma: 0.99
  lam: 0.95
  clip_ratio: 0.2
  target_kl: 0.01
  entropy_coef: 0.01
  train_actor_iters: 10
  train_critic_iters: 10

#checkpoint settings
checkpoint:
  save_dir: './checkpoints/ppo'
  save_freq: 10 

#evaluation settings
evaluation:
  evaluate_every: 5

#device settings
device:
  use_cuda: true
  device_id: 0

seed: 42